

<mat-accordion *ngIf=" !isloading &&products.length >0  ">
  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header>
      <h2>{{product.ProductName}}</h2>
    </mat-expansion-panel-header>

    <div class="container">
      <div class="row">
        <div class="productImage col-4" >
          <img [src]="product.imagePath" [alt]="product.ProductName">
        </div>

        <div class="productdetails col-8" >

            <div class="row">
              <div class="col-4"><h2>Product Category :</h2></div>
              <div class="col-8">
                <p> {{product.productDiscription}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><h2>Product Quntity :</h2></div>
              <div class="col-8">
                <p> {{product.productDiscription}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><h2>Product Price :</h2></div>
              <div class="col-8">
                <p> {{product.productDiscription}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><h2>Product Rate :</h2></div>
              <div class="col-8">
                <p> {{product.productDiscription}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><h2>Product Discount :</h2></div>
              <div class="col-8">
                <p> {{product.productDiscription}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><h2>Product Color :</h2></div>
              <div class="col-8">
                <p> {{product.productDiscription}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-4"><h2>Product Discription :</h2></div>
              <div class="col-8">
                <p> {{product.productDiscription}}</p>
              </div>
            </div>
        </div>


      </div>
    </div>






    <mat-action-row>
      <a [routerLink]="['/editproduct',product._id]" mat-button color="primary">EDIT</a>
      <button mat-button color="accent" (click)="deleteproduct(product._id)"> DELETE</button>

    </mat-action-row>
  </mat-expansion-panel>
  <p class="info-text body-1" *ngIf="products.length <=0 ">no products add yet !!</p>

</mat-accordion>
<mat-spinner *ngIf="isloading"></mat-spinner>
<mat-paginator
    [length]="totalproduct"
    [pageSize]="productParPage"
    [pageSizeOptions]="pageSizeOption"
    (page)='onChangePage($event)'
    *ngIf="products.length >0  "
    ></mat-paginator>


