<mat-toolbar color="primary">
  <span >
    <a [routerLinkActiveOptions]="{exact:true}" mat-button style="  text-decoration: none;" routerLinkActive="mat-accent" routerLink="/">
      <img class="logo" src="../../../assets/amazon_PNG6.png.crdownload" alt="">
    </a>
  </span>
<span class="spacer"></span>
  <span >
    <a mat-button  [routerLinkActiveOptions]="{exact:true}" style="  text-decoration: none;" routerLink="/creatProduct" routerLinkActive="mat-accent">Creat Product</a>
  </span>
</mat-toolbar>
