
mat-form-field,
textarea{
  width: 100%;
}
mat-spinner
{
  margin: auto;
  margin-top: 35vh;
}

input[type="file"]{
  visibility: hidden;
}


.imagePreview{
  height: 5rem;
  margin:1rem 0 ;
  width: 5rem;
}

.imagePreview img{
  height: 100%;
  width: 100%;
}

.pickImg
{
  float: right;
}
.pickImg button
{
  float: right;
}
.Productcolor{
  width: 100px;
  height: 50px;
}
.numberInput{
  width: 10%;
  margin: 3%;
}
